body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr; 
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    gap: 0;
}
header {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    background: #2f6e3c;
    color: white;
}
body img:first-of-type {
    grid-column: 1;
    grid-row: 2;            
    justify-self: center;
    align-self: stretch;     
    width: 100%;             
    height: 100%;            
    object-fit: cover;       
    display: block;          
    margin: 0;               
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

body img:last-of-type {
    grid-column: 3;
    grid-row: 2; 
    justify-self: center;
    align-self: stretch;     
    width: 100%;             
    height: 100%;            
    object-fit: cover;       
    display: block;          
    margin: 0;               
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.menu-centro {
    grid-column: 2;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 40px 0;
}

.menu-centro a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-style: italic;
    transition: 0.2s;
}

.menu-centro a:hover {
    color: #2f6e3c;
    transform: scale(1.8);
}