body {
    margin: 0;
    padding: 0;
    background: #b1f2bc;
    font-family: "Georgia", serif;
    color: #000000;
    line-height: 1.6;
}
.menu {
    background: #0a7436; 
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 200px;
    border-bottom: 4px solid #065428;
}

.menu a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-style: italic;
    transition: 0.3s;
}

.menu a:hover {
    color: #2fc24d;
    transform: scale(1.8);
}


h1 {
    margin-top: 30px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
h2 {
    margin-top: 20px;
    margin: 30px;
    font-size: 35px;
    font-style: italic;
    color: #1a4d2e;
}

h3 {
    margin-top: 20px;
    margin: 20px;
    font-size: 23px;
    width: 90%;

}

h4 {
    font-size: 18px;
    width: 85%;
    margin: 35px;
}


ul, ol {
    text-align: left;
    display: inline-block;
    font-size: 18px;
    line-height: 1.6;
}
img {
    margin-top: 10px;
    width: 400px;
    margin: 100px;        
    border-radius: 18px;
    box-shadow: 0 0 10px #7ac58f;
}

.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.6rem 0.9rem;
    border-radius: 999px;
    background: #0a7436;
    border: 1px solid #1a4d2e;
    color: #eee;
    text-decoration: none;
}